body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #FAFAFA;
}

.container {
  width: 80%;
  margin: 0 auto;

}

#header {
  background-color: #343A40;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#header::after {
  content: "";
  display: table;
  clear: both;
}

#header-img{
  width: 80px;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
}

nav a {
  color: #E6E6E3;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

nav a:hover {
  color: #D0B60E;
}


.flex-container {
  display: flex;
}

#Features {
  margin-top: 130px;
  padding-left: 8em;
  padding-bottom: 5em;
}

.product-description{
  max-width: 90%;
  font-weight: 400;
  line-height: 1.5em;
}

.product-name {
  font-size: 48px;
  font-weight: 500;
  color: #212529;
  line-height: 1.5em;
  margin-bottom: -0.5em;
}

.product-sub-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.main-speaker {
  margin-right: 5rem;
  margin-top: -1.5rem;
}

select {
  appearance: none;
  outline: 0;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  border: hidden;
  width: 150px;
  text-align: center;
  color: #333;
  background-color: #fcd900;
  border: 1px solid #fcd900;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

select:hover {
  background-color: #C9AD00;
  border: 1px solid #C9AD00;
}

select option {
  background-color: #fff;
  text-align: left;
  margin-top:-5px !important;
}

select option:hover {
  color: #C9AD00;
  background-color: #fff;
}

.form-box {
  background-color: #E6E6E3;
  padding: 5em;
}

.form-block {
  width:400px;
  margin-right:auto;
  margin-left:auto;
}

form {
  display: flex;
  align-items: center;

}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  /* background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.form-control:focus {
  outline: none;
}

.subscribe {
  padding: 1.3em;
}

input[type=submit] {
  color: #333;
  background-color: #fcd900;
  border: 1px solid #fcd900;
  border-radius: 0.25rem;
  margin-left: -5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #C9AD00;
  border: 1px solid #C9AD00;
}


.the-science-text {
  margin-top: 35px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  color: #212529;
}

.the-science-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 60%;
  margin: auto;
  color: #212529;
}

iframe {
  display: block;
  border-style:none;
}

.vid, iframe {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background-color: #777;
  margin-top: 50px;
}

#The-Science {
  padding-bottom: 100px;
}

.defense {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #212529;
}

.the-defense-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  max-width: 34%;
  margin: auto;
  color: #212529;
}

.defense-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.learn-more {
  font-size: 16px;
  padding: 0.6em;
  color: #212529;
}


#The-ROKIT-G4-Defense-System {
  background-color: #E6E6E3;
  padding: 20px;
}

.grill {
 margin-left: -25rem;
}

/* .parent {
  position: relative;
}

.child-one{
  position: absolute
}

.child-two{
  position: absolute
}

.child-three{
  position: absolute
}

.child-four{
  position: absolute
} */

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.child {
  flex: 0 25%;
  height:100px;
  background:red;
  border:1px solid green;
  box-sizing:border-box;
}







/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
width: 100%;
}
}